{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div>
        <img class="bg" src="static/background.jpg">
        <div class="overlay-text">
            This is Uni Freiburg Bookexchange!
        </div>
    </div>
    <div>
        <hr>
        <h1>How it works:</h1>
        <hr>
        <p>On Uni Freiburg Bookexchange you can exchange and sell books with other users. Just upload a picture of your book, give a small description about the book and what you would like to exchange it for and wait for other people to answer!</p>
        <p>You can decide if you want to accept a request and thereupon you will be able to chat with the buyer to haggle over the exchange.</p>
        <p>At the same tame you can Browse for books you might like and send a little message to the owner about what you would be willing to exchange it for.</p>
        <p>So what are you waiting for? Start Exchanging!</p>
    </div>
    <div>
        <hr>
        <h6>Sources used:</h6>
        <hr>
        <small>Bootstrap was used to create parts of navbar, cards and forms</small>
        <br>
        <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">https://getbootstrap.com/docs/5.3/getting-started/introduction/</a>
    </div>
{% endblock %}
