{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h2>Register</h2>
    <br>
    <br>

    <form action="/register" method="post">
        <div class="form-group">
          <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="useremail" name="useremail" placeholder="Enter email" type="email" required>
          <small class="error">{{ emailerror }}{{ emailerror2 }}</small>
        </div>
        <br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Choose a username" type="text" required>
            <small class="error">{{ usernameerror }}{{ usernameerror2 }}</small>
        </div>
        <br>
        <div class="form-group">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Choose a password" type="password" required>
            <small class="error">{{ passworderror }}</small>
        </div>
        <br>
        <div class="form-group">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm password" type="password"required>
            <small class="error">{{ confirmationerror }}</small>
        </div>
        <br>
        <div class="form-check">
            <input type="checkbox" class="checkbox" id="checkbox" name="checkbox">
            <label class="label" for="check">Agree to <a href="/tac.html" target="_blank">Terms and Conditions</a></label>
            <br>
            <small class="error">{{ checkboxerror }}</small>
        </div>
        <br>
        <button class="btn btn-outline-dark" type="submit">Register</button>
      </form>

{% endblock %}
